.header-logo {
  display: inline-block;
  vertical-align: middle;
  max-height: 72px;
}
.aside {
  width: 200px;
  height: 100%;
  background-color: #f2f6fc;
  line-height: 60px;
  overflow: visible;
  padding: 10px 0;
}
.header{
  background-color: #61718a;
  color: #fff;
  line-height: 60px;
}

.wrapper {
  height: 100%;
}


.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both
}

.panel{
  //border: 1px solid;
  border-radius: 4px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  color: #303133;
  box-sizing: border-box;
}
/*
.box-card {
  width: 480px;
}
.row-x {
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}
.col-border {
  border-radius: 4px;
}
.bg-purple-dark {
  background: #99a9bf;
}
.bg-purple {
  background: #d3dce6;
}
.bg-purple-light {
  background: #e5e9f2;
}
.grid-content {
  border-radius: 4px;
  min-height: 36px;
}
.row-bg {
  padding: 10px 0;
  background-color: #f9fafc;
}*/
